@font-face {
    font-family: 'iCiel Pony';
    src: url('iCielPony.woff2') format('woff2'),
        url('iCielPony.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

